/*
<script src="https://g2g.to/h15s"></script>
Shortening https://sebajuffar.github.io/s.js
*/

body {
	background-image: url(http://drive.google.com/uc?export=view&id=1w9R7ssD26fDG76d17bmR-yK79N7gxjxB);
	background-repeat: repeat;
}

table {
	font-size: 12px;
}

td[bgcolor="#D4E9FF"] {
	background: rgb(8,5,38);
    background: linear-gradient(90deg, rgba(8,5,38,1) 0%, rgba(15,15,77,1) 32%, rgba(10,172,205,1) 100%);
    border-radius: 5px;
	padding: 10px !important;
	font-style: italic;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
	font-size: 16px;
}
td[bgcolor="#D4E9FF"] a, td[bgcolor="#D4E9FF"] td[nowrap] {
	letter-spacing: 0;
	word-spacing: 0;
}
td[bgcolor="#D4E9FF"] strong, 
td[bgcolor="#D4E9FF"] a,
td[bgcolor="#D4E9FF"] td {
	color: #f7f7f7;
	text-shadow: 2px 2px 2px #00000066;
	transition: 0.3s;
}

td[bgcolor="#D4E9FF"] a:hover, td[bgcolor="#D4E9FF"] a:hover strong {
	color: #303030;
}

img[width="120"] {
	border-radius: 50%;
	box-shadow: 5px 5px 5px #00000066;
	transition: transform .7s ease-in-out;
	width: 170px;
    height: 170px;
	display: block;
    box-sizing: border-box;
    background-image: url(http://drive.google.com/uc?export=view&id=1mzTXkLtbhy_ERvvr-tfWMrb7qfoQXyWA);
	background-repeat: no-repeat;
    padding-left: 170px;
	background-size: cover;
    background-position: center;
}

img[width="120"]:hover {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

tr[valign="middle"]:nth-child(7) td .linkAzul:nth-child(2):before {
	content: '\01F525';
}

tr[valign="middle"]:nth-child(7) td .linkAzul:nth-child(3):before {
	content: '\01F62D';
}

tr[valign="top"] table[cellspacing="3"] table[cellspacing="4"] tr[valign="middle"]:first-child td[width="50%"]:first-child:after {
	content: 'Nittaku Bloodwood';
	font-weight: bold;
}

tr[valign="top"] table[cellspacing="3"] table[cellspacing="4"] tr[valign="middle"]:nth-child(3) td[width="50%"]:before {
	content: '';
	display: block;
	background-repeat: no-repeat;
	width: 120px;
	height: 100px;
	background-size: cover;
    background-position: center;
	margin-left: 50px;
    margin-bottom: 30px;
}

tr[valign="top"] table[cellspacing="3"] table[cellspacing="4"] tr[valign="middle"]:nth-child(3) td[width="50%"]:first-child:before {
	background-image: url(http://drive.google.com/uc?export=view&id=1qi17135E24O9eFa0c1azK_3n1dxGMbi7);
}

tr[valign="top"] table[cellspacing="3"] table[cellspacing="4"] tr[valign="middle"]:nth-child(3) td[width="50%"]:nth-child(2):before {
	width: 140px;
	background-image: url(http://drive.google.com/uc?export=view&id=1TmuMcC2u2J1Ls56FJpCRS1wkEay0DH9V);
}

tr[valign="top"] table[cellspacing="3"] table[cellspacing="4"] tr[valign="middle"] td[width="50%"] {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

tr[valign="top"] table[cellspacing="3"] tr:nth-child(7) table[cellspacing="4"] tr[valign="middle"] td {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
}

tr[valign="top"] table[cellspacing="3"] tr:nth-child(9) table tr:first-child td:first-child {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

tr[valign="top"] table[cellspacing="3"] tr:nth-child(10) table tr td {
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
}

tr[valign="top"] table[cellspacing="3"] tr[valign="middle"] td[height="1"] {
	display: none;
}

table[cellspacing="5"] td[width="40"] img[width="40"] {
	border-radius: 50%;
	box-shadow: 5px 5px 5px #00000066;
	margin-right: 10px;
}

table[cellspacing="5"] td[width="40"] img[width="40"],
table[cellspacing="5"] td:nth-child(2) {
	margin-bottom: 5px;	
}

/* Profile */
@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

.profile-container {
	font-family: roboto;
    width: 90%;
    margin: 75px auto 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(237 237 237);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid #ededed;
}

.profile-container a {
	transition: 0.3s;
}

.profile-container a:hover {
	letter-spacing: 3px;
	
	text-decoration: none;
}

.avatar-flip:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.avatar-flip:hover img:first-child {
  opacity: 0;
}
.avatar-flip:hover img:last-child {
  opacity: 1;
}
.avatar-flip {
	border-radius: 100px;
	overflow: hidden;
	height: 170px;
	width: 170px;
	position: relative;
	margin: auto;
	top: -60px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0 3px #ededed;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

.information-container {
	position: relative;
	top: -60px;
}

.information-container h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #333;
	margin-top: 5px;
	text-shadow: 1px 1px #00000010;
	letter-spacing: 1px;
}

.information-container h3 {
	margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #7c7b7b;
}

.information-container h6 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 3px;
    text-shadow: 1px 1px #00000010;
    letter-spacing: 5px;
	word-spacing: 10px;
    text-transform: uppercase;	
	color: #15528e;
}

.information-container .info-box.first h6 {
	margin-top: 15px;
}

.information-container .info-box span,
.information-container .info-box a {
    font-size: 22px;
}

#profile-rating {
	color: #ef0d0d;
}

.ranking-box {
	margin-top: 30px;
}

.ranking-box .info-box {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

.ranking-box .info-box h6 {
	margin-top: 5px;
	font-size: 18px;
	letter-spacing: 1px;
    word-spacing: 0;
	margin-right: 30px;
	width: 300px;
    text-align: left;
}

.ranking-box .info-box a, 
.ranking-box .info-box span {
	font-size: 16px;
    font-weight: bold;
}

.club-association {
	display: flex;
	justify-content: space-between;
}

.club-association .info-box {
	text-align: left;
}

.club-association .info-box a {
	display: flex;
    align-items: center;
}

.club-association .info-box h6 {
	letter-spacing: 2px;
}

.club-association .info-box img {
	max-width: 75px;
	margin-right: 10px;
}

/* Mensajes */

span[style="color:#000000; font-size:15px; "] {
	visibility: hidden;
}

span[style="color:#000000; font-size:15px; "] a {
	visibility: visible;
}

span[style="color:#666666; "] {
    float: right;
}

span[style="color:#000000; font-size:15px; "] {
    float: left;
}

div[style="color:#000; padding: 8px; font-size:14px; background-color: #E6E6E6; "] {
    border-radius: 0px 10px 10px 10px;
	padding: 15px !important;
	box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 40%);
}

td[width="40"] + td br {
	display: none;
}


