/*
<script src="https://g2g.to/h15s"></script>
Shortening https://sebajuffar.github.io/s.js
*/
td[bgcolor="#D4E9FF"] {
	background: rgb(8,5,38);
    background: linear-gradient(90deg, rgba(8,5,38,1) 0%, rgba(15,15,77,1) 32%, rgba(10,172,205,1) 100%);
    border-radius: 5px;
}

td[bgcolor="#D4E9FF"] strong, 
td[bgcolor="#D4E9FF"] a,
td[bgcolor="#D4E9FF"] td {
	color: #f7f7f7;
	transition: 0.3s;
}

td[bgcolor="#D4E9FF"] a:hover, td[bgcolor="#D4E9FF"] a:hover strong {
	color: #303030;
}

img[width="120"] {
	border-radius: 50%;
	box-shadow: 5px 5px 5px #00000066;
	transition: transform .7s ease-in-out;
}

img[width="120"]:hover {
  transform: rotate(360deg);
}
